$accent_color: $accent_color;
$leftBlockWidth: 20%;
$rightBlockWidth: 75%;
$paddingBetweenLeftAndRight: 100% - $leftBlockWidth - $rightBlockWidth;

@media print {
    @page {
        size: A4;
        margin: 0mm 0mm 0mm 0mm;
    }
    html, body {
        width: 210mm;
        height: 297mm;
        padding: 0 5%;
        box-sizing: border-box;
    }
}

body {
    font-family: 'Ubuntu', sans-serif;
    width: 100%;
    padding: 0;
    margin: 0;
    position: relative;
    box-sizing: border-box;
}

h1 {
    font-size: 42px;
    font-weight: bold;
    color: #333333;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
}

h3 {
    font-size: 13px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0px;
}

p,
ul,
ol,
li {
    box-sizing: border-box;
    font-size: 13px;
    font-weight: normal;
    margin-top: 0px;
    margin-bottom: 0px;
}

p,
ul,
ol {
    margin-bottom: 2px;
}

ul {
    list-style-type: disc;
}

ul,
ol {
    padding-left: 20px;
}

li {
    li {
        position: relative;

        &::before {
            content: "";
            background-color: white;
            width: 15px;
            height: 100%;
            top: 0;
            left: -40px;
            position: absolute;
        }
    }
}

chapter {
    &>h2 {
        position: relative;
        color: $accent_color;
        padding-left: $leftBlockWidth + $paddingBetweenLeftAndRight;

        &::before {
            background-color: $accent_color;
            content: "";
            position: absolute;
            top: 25%;
            left: 0;
            display: block;
            width: $leftBlockWidth;
            height: 50%;
            box-sizing: border-box;
        }
    }
}

section {
    width: 100%;
    margin-bottom: px;

    left {
        float: left;
        width: $leftBlockWidth;
    }

    right {
        float: right;
        width: $rightBlockWidth;
    }

    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

img {
    position: absolute;
    top: 75px;
    right: 0;
}
